<h3>Retros</h3>
<span><%= link_to 'Add a retro', new_retro_path %></span>
<div class="row">
  <div class="span8">
  <br>
    <table class="table table-bordered table-striped">
      <th>Name</th>
      <th>Date</th>
      <th>State</th>
      <th>Voting allowed</th>
      <th>Edit</th>
      <% @retros.each do |retro| %>
        <tr>
          <td><%= retro.try(:name) %></td>
          <td><%= retro.try(:date) %></td>
          <td><%= retro.try(:state) %></td>
          <td><%= retro.try(:voting_allowed) %></td>
          <td><%= link_to "Edit", edit_retro_path(retro) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
