<%= stylesheet_link_tag "remarks" %>

<h2><%= @retro.name %></h2>

<% groups = @retro.remarks.group_by{ |r| r.connotation_id } %>

<table class="padded">
  <tr>
    <% (1..3).to_a.each do |c| %>
    <td class="connotation_column rounded" id='<%= remark_header(c).downcase %>'>
      <table class="connotation_table">
        <th><%= remark_header(c) %></th>
          <% groups[c].each do |r| %>
            <tr class="bg-opaque">
              <td>
                <span class="title"><%= r.title %></span>
                <span><%= r.explanation %>
              </td>
            </tr>
          <% end %>
      </table>
    </td>
    <% end %>
  </tr>
</table>
